<div class = "p-5 text-center bg-primary">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col align-self-center bg-white">
      <h1 class="jumbo-heading">Diego Torrealba</h1>
      <p>Student Journalist at the University of Texas at Austin</p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>