{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ headline }}{% endblock %}

{% block page_description%}{{ headline }} by Diego Torrealba, {{ date }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row py-3">
      <div class="col-md-6">
        <p class="display-5" id="blog-title">{{ headline }}</p>
        <h5 id="blog-date">{{ date }}</h5>
        <p id = "byline">By Diego Torrealba</p>
      </div>
      <div class="col-md-6">
        <figure>
          <img src="../img/{{ image }}" alt="" id="blog-image" class = "img-fluid">
          <figcaption>{{ imageText }}</figcaption>
        </figure>
      </div>
    </div>
    <div class="row pb-3">
      <div id="post">
        {{ prose(post) }}
      </div>
    </div>
    <div class="row pb-3">
      <div id="reach-out">
        <h3>Have any questions or want to reach out to me?</h3>
        <p>Please reach out to me through my socials to talk about any of my blog posts! I'd love to hear your thoughts or feedback.</p>
      </div>
    </div>
  </article>
{% endblock %}