{% extends "_templates/base.njk"%}

{% block page_title %}Gallery{% endblock %}

{% block content %}
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 my-3">
      <div class="col">
        <p class="display-1 text-center">Gallery</p>
      </div>
      <div class="col">
        <p>This collection of photos includes photos of me during important moments of my life as well as photos I have taken myself. While photography is not my main hobby, I enjoy learning about framing techniques and being able to tell a story through a single image. That said, what I have learned through photography has influenced my work as a videographer, and I am sure I still have much to learn!</p>
      </div>
    </div>
   <div class="row pb-3">
    <div id="galleryCarousel" class="carousel slide" data-bs-ride = "carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#galleryCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#galleryCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#galleryCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target = "#galleryCarousel" data-bs-slide-to ="3" aria-label = "Slide 4"></button>
        <button type="button" data-bs-target = "#galleryCarousel" data-bs-slide-to ="4" aria-label = "Slide 5"></button>
        <button type="button" data-bs-target = "#galleryCarousel" data-bs-slide-to ="5" aria-label = "Slide 6"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/diego-hs-grad-wide.JPG" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p>A portrait taken of me hours before walking for my high school graduation, May, 22, 2022</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="img/Torrealba_Michael_Shaw_09102024.JPG" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p>Parking enforcement assistant Michael Shaw monitors traffic and greets students, staff and visitors to the University of Texas on Tuesday, Sept. 10, 2024, at his post on 24th Street and Whitis Avenue in Austin, Texas. A university-wide celebrity among students and staff, Shaw and his daily motivational catchphrases promote optimism and positivity within the community.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="img/torrealba_vases_09122024.JPG" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p>A collection of multicolored pottery vases sits on display on Thursday, Sept. 12, 2024, near the door of Sfingiday, a small women-owned boutique selling handmade goods located on S Lamar Boulevard in Austin, Texas. Sfingiday prioritizes local producers, and its pieces are curated by owner and founder Christine Olson, according to its website.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="img/pr-coast.JPG" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p>The Puerto Rican shoreline during a hot summer day, July 1, 2023.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="img/Torrealba_Kim_Ha_09132024.JPG" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p>First-year civil engineering students JoonHa Kim (left) and Trina Ha (right) sit together after their chemistry class on Tuesday, Sept. 13, 2024, outside the G. B. Dealey Center for New Media at the University of Texas in Austin, Texas. Knowing each other since high school in Houston, Texas, Kim and Ha talk about what the next four years will look like.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="img/torrealba_demolition_09102024.JPG" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p>A demolition crew continues its deconstruction of Whitis Court on Tuesday, Sept. 10, 2024, at the University of Texas in Austin, Texas. A historical resident hall, Whitis Court opened in 1953 and is scheduled to reopen in 2027 with an additional 800 beds to adjust for the university’s growing student body.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#galleryCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#galleryCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
   </div>    
  </div>
{% endblock %}